<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwork.farm_system.mapper.PermissionMapper">
    <!-- 根据权限ID列表批量删除角色权限关联 -->
    <delete id="deleteRolePermissionByPermissionIds">
        DELETE FROM sys_role_permission WHERE permission_id IN
        <foreach collection="permissionIds" item="permissionId" open="(" close=")" separator=",">
            #{permissionId}
        </foreach>
    </delete>
</mapper>